@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* SUPPRIMER LES MARGES PAR DEFAUT */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ALIGNER LES ELEMENTS AU CENTRE */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
}
.form {
	position: relative;
	box-shadow: 0 4px 8px rgb(0 0 0 / 0.3);
}
input {
	font-family: inherit;
}
.input-form input::placeholder {
	font-size: 0.85rem;
}
.input-form.success input {
	border-color: green;
}
.input-form.error input {
	border-color: red;
}
.input-form .error {
	color: #ff3860;
	font-size: 9px;
	margin-top: 5px;
}

/* SHOW AND HIDE PASSWORD */
.input-form {
	font: inherit;
	position: relative;
}
.input-form .toggle-password {
	position: absolute;
	right: 10px;
	top: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.input-form .toggle-password::before {
	content: '\f06e';
	font-family: fontAwesome;
}
.input-form .toggle-password.hide::before {
	content: '\f070';
}

/* SMALL TEXT FOR VALIDATION */
.successed {
	border: 1px solid green;
}

.user-icon {
	font-size: 20px;
	padding: 1rem;
	position: absolute;
	top: -20px;
	left: 20px;
	background-color: #fff;
	box-shadow: 0 2px 3px rgb(0 0 0 / 0.3);
	border-radius: 2px;
}

.btn-blue {
	background-color: #2e497f;
	color: #fff;
	text-decoration: none;
	padding: 0.5rem;
	transition: 0.5s;
}
.btn-blue:hover,
.btn-primary:hover {
	color: black;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 5px;
}
