/* SUPPRIMER LES MARGES PAR DEFAUT */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ALIGNER LES ELEMENTS AU CENTRE */
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.form {
	position: relative;
	box-shadow: 0 4px 8px rgb(0 0 0 / 0.3);
}

input::placeholder {
	font-size: 0.85rem;
}

.input[type='password'] {
	position: relative;
}
.eye {
	position: absolute;
	right: 15px;
	transform: translateY(-50%);
	top: 50%;
	font-size: 15px;
	color: #5b595f;
	cursor: pointer;
}
.eye::before {
	content: '\f06e';
	font-family: fontAwesome;
}
.eye.hide::before {
	content: '\f070';
	font-family: fontAwesome;
}
.small-text {
	color: #5b595f;
	font-size: 0.88rem;
}
.user-icon {
	font-size: 20px;
	padding: 1rem;
	position: absolute;
	top: -20px;
	left: 20px;
	background-color: #fff;
	box-shadow: 0 2px 3px rgb(0 0 0 / 0.3);
	border-radius: 2px;
}

.btn-blue {
	background-color: #2e497f;
	color: #fff;
	text-decoration: none;
	padding: 0.5rem;
	transition: 0.5s;
}
.btn-blue:hover,
.btn-primary:hover {
	color: black;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 5px;
}
